#eventIcon {
    width: 65px;
    height: 80px;
}

.eventList{
    height: 90vh;
}

.image-text {
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.274);
    display: inline-block;
}

#image{
    height: 25vh;
    min-height: 100px;
    background-image: url("src/assets/images/regattaadminEvents.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#date{
    line-height: 0.5;
}

#rightMenu{
    background-color: #dfe7e7;
}

#eventLink{
    margin-left: -12px;
    color: black;
}

#addEvent{
    background-color: whitesmoke;
    border-radius: 10px;
}

.datepicker{
    height: 95%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid.ng-touched:not(form)  {
    border-left: 5px solid #a94442; 
  }

  .date {
      height: 73%;
  }