<div id="image">
    <div class="container h-100">
        <div class="row h-100 align-items-end pb-4">
            <div class="image-text col-3 text-start">
                <h1 class="font-weight-normal text-white">Om os</h1>
            </div>
        </div>
    </div>
</div>

<section id="mainSection" class="container pt-5 pb-5">
    <div class="columns">
        <div class="row">
            <article class="text-center col-md-6 my-2">
                <h2 class="font-weight-light">Mission</h2>
                <p><strong class="text-muted">Gør svær at følge-sport interessant med GPS-sporing i realtid</strong></p>
                <p>Vi giver synligheden til sporten, engagerer tilskuerne og driver fanbasis og sponsorværdi ved at afsløre og visualisere øjeblikke af svære at følge-sport i realtid</p>
            </article>
            <article class="text-center col-md-6 my-2 ">
                <h2 class="font-weight-light">Om os</h2>
                <p>Tregatta blev grundlagt i 2020 og ejes og drives af stifterne. Vi kommer alle fra en lang baggrund i sport som elite atleter eller trænere og bygger på en stærk lidenskab for at vise vores sport for verden og leverer spændingen, forståelsen og de vigtigste øjeblikke af sportsgrene, der ellers er svære at følge.</p>
            </article>
        </div>
    </div>
</section>