<!-- Image -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="image-text col-12 text-center">
                <h1 class="font-weight-normal text-white">Live tracking til sejlads</h1>
                <p class="lead font-weight-normal text-white">Gør svær at følge sport interessant med GPS-sporing i realtid</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">Velkommen</h2>
        <p>Udforsk vores hjemmeside hvor du har mulighed som tilskuer, for både at tilmelde dig et event, følge events live eller se tilbage på resultaterne fra tidligere events. Er du bestyrer af et event, har du også mulighed for at administrer dine events her.</p>
    </div>
</section>
