.register-left{
    text-align: center;
    color: #fff;
    margin-top: 3%;
}

.header {
    margin-bottom: 2%;
}

.register{
    background: -webkit-linear-gradient(left, #69b8d4, #dfe7e7);
    padding: 3%;
    height: 95vh;
}

a {
    font-weight: lighter;
    color: black;
}

.form {
    margin: 0 auto;
    width: 38vh;
}

.form-control{
    margin-bottom: 2%;
}

.register-left #login{
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 25vh;
    height: 5vh;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 6px;
    cursor: pointer;
    margin-top: 4%;
}

.register-left img{
    margin-bottom: 1%;
    width: 40%;
    height: 20vh;
    width: 20vh;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}
@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}